.tabs-menu .title-icon {
  display: none;
}

/*Sam 31/10/16*/
.product-details .pap-container, .productlist .item .pap-container {
  right: -15px;
}

.basketUtil-cn .basket-item-qty {
    display: inline-block;
}

.rating-holder {
  background: inherit !important;
}


[data-product-main-image-variation-images="true"] {
  visibility: visible;
}

.product .main-product-image {
  visibility: visible;
}